:root {
  /* COLOR VARIABLES */
  --primary_color: #fffefb;
  --text_color: #000;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.ttf");
  font-display: swap;
}

/* DEFAULT STYLES */
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: var(--regular);
  scroll-behavior: smooth;
  background-color: var(--primary_color);
  user-select: none;
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__nav {
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 105px;
}

.header__lang,
.header__theme {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header__lang a,
.header__theme a {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  font-weight: var(--medium);
  text-decoration: none;
  color: var(--text_color);
}

.header__title {
  font-size: clamp(3rem, 4vw, 6rem);
  text-align: center;
}

.header__subtitle {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 65px;
}

.header__subtitle-h2 {
  font-size: clamp(1rem, 4vw, 3rem);
  text-align: center;
}

.header__subtitle-p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 117px;
}

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__title,
.about__subtitle {
  margin: 0 auto;
  max-width: 1290px;
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  text-align: center;
  letter-spacing: -0.01em;
}

.about__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about__info-rovsh,
.about__info-raha {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about__info-rovsh h2,
.about__info-raha h2 {
  margin-bottom: 10px;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: var(--semi-bold);
}

.about__info-rovsh h3,
.about__info-raha h3 {
  margin-bottom: 10px;
  font-size: clamp(0.5rem, 4vw, 1.25rem);
  font-weight: var(--medium);
}

.about__info-rovsh-socials,
.about__info-raha-socials {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 25px;
}

.about__info-rovsh-socials {
  justify-content: flex-end;
}

.about__info-rovsh {
  text-align: right;
  margin-right: 30px;
}

.about__info-raha {
  text-align: left;
  margin-left: 30px;
}

.black_line {
  height: 595px;
  width: 3px;
  background-color: black;
  margin: 0 40px 0 40px;
  border-radius: 10px;
}

.projects {
  height: 100vh;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.projects__title {
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  text-align: center;
  padding-top: 70px;
}

.projects__projects div:not(:last-child) {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px 30px 130px;
  border-bottom: 1px solid black;
}

.projects__projects div:last-child {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px 0 130px;
}

.projects__projects div h3 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: var(--medium);
  margin-right: auto;
}

.projects__projects div p {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  font-weight: var(--light);
  margin-left: auto;
}

.projects__subtitle {
  text-align: center;
  font-size: clamp(0.8rem, 4vw, 1.6rem);
  padding-bottom: 100px;
}

.contacts {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
  margin-top: 50px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.contacts__title {
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  text-align: center;
  padding-top: 70px;
}

.contacts__info-num {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 85px;
}

.contacts__info-num div {
  height: 45px;
  width: 1px;
  background-color: black;
}

.contacts__info-num a,
.contacts__info-mail a {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: var(--light);
  text-decoration: none;
  color: var(--text_color);
}

.contacts__info-mail {
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: var(--light);
}

.contacts__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 65px;
}

.contacts__rights {
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
